//_____________ IMPORTS
@import _reset
// @import ./materialize/materialize
@import ./bootstrap/bootstrap-grid
// @import ./owlCarousel/owl.carousel
@import ./mfp/main
@import _fonts
@import _mixins

//_____________ FONTS
$regular: Roboto
$rale: Raleway
$awe: fontawesome

//_____________ RWD
$retina: 1400px
$tablet: 768px
$mobile: 576px

//_____________ CONST
$accent: #e54911
$cyan: #e6eff6
$header: #3c4348
$font: #363636
$font-gray: #959595
$font-dark: #707070

//_____________ SETTINGS
.background
	@include checkerboard(90px, tan)
	height: 50vh
h1
	@include padding(30, 10, 20, 40)
legend
	@include circle(50px, #ff00ff)
.grid
	@include flex-grid(6, 2)
	& > *
		background-color: #f0f
		color: #ffffff
		text-align: center
		font-weight: 700
html
	//**
	//* fluid font size
	//**
	// font-size: calc(14px + (18 - 14) * (100vw - 320px) / (1800 - 320))
	font-size: calc(7px + .25vw)
	// font-size: calc(16px + .5vw)
body
	font-size: 1.5rem
	font-family: $rale
	font-display: optional
	color: $font
.container
	max-width: 1200px
	@media screen and (max-width: $tablet)
		max-width: 800px
	@media screen and (max-width: $mobile)
		max-width: 320px

//_____________ I N H E R I T S
%btn
	font-weight: 700
	font-size: 1rem
	text-transform: uppercase
	color: $accent
	cursor: pointer
	border: 2px solid $accent
	padding: 6px 60px 8px 60px
	border-radius: 4px
	transition: color .3s, background-color .2s
	transition-timing-function: ease-in-out
	&:active, &:focus
		outline: none
		box-shadow: none
	&:hover
		background-color: darken($accent,10)
%sticky-top
	position: fixed
	top: 0
	right: 0
	left: 0
	z-index: 10
%sticky-bottom
	position: fixed
	bottom: 0
	right: 0
	left: 0
	z-index: 10
//_____________ B U T T O N S
.btn
	// @extend .btn
	// @extend .waves-light
	// @extend .cyan

a.btn
	@extend %btn
//_____________ H E A D E R S
	
//_____________ T O P __  H E A D
.fadeOutUp:not(.animated)
	transform: translate3d(0, -100%, 0)

//_____________ A R R O W S
.owl-wrap
	position: relative
.arrow
	z-index: 2
	position: absolute 
	top: 0
	bottom: 0
	width: 44px
	height: 44px
	border: 1px solid $accent
	cursor: pointer
	margin: auto 0
	&::after
		content: ''
		position: absolute 
		top: 0
		bottom: 0
		right: 0
		left: 0
		margin: auto
		width: 10px
		height: 10px
		transform: rotate(45deg)
.arrow.arrow-next
	right: -30px
	&::after
		border-right: 1px solid $accent
		border-top: 1px solid $accent
		right: 5px
.arrow.arrow-prev
	left: -30px
	&::after
		border-left: 1px solid $accent
		border-bottom: 1px solid $accent
		left: 5px

//_____________ H E A D E R

//_____________ M A I N

//_____________ A B O U T

//_____________ F O O T E R

//_____________ M E D I A
// @import media