doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0,shrink-to-fit=no")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="author", content="vk.com/didex")
    meta(name="msapplication-TileColor", content="#da532c")
    meta(name="theme-color", content="#ffffff")
    title title
    link(rel="icon", type="image/png", sizes="16x16", href="img/favicon/favicon-16x16.png")
    link(rel="icon", type="image/png", sizes="32x32", href="img/favicon/favicon-32x32.png")
    link(rel="apple-touch-icon", sizes="180x180", href="img/favicon/apple-touch-icon.png")
    link(rel="mask-icon", href="img/favicon/safari-pinned-tab.svg", color="#da532c")
    link(rel="stylesheet", href="css/main.css")
  body

    block content

    script(src="js/scripts.js", defer)
  //- script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDL6iA0q9zeLy5gYlNT_ACJTNH-GdVZ7kQ&callback=initMap", defer)