doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title title
    link(rel="stylesheet", href="css/main.css")
    link(rel="shortcut icon", href="img/favicon.ico")
  body

    block content

    script(src="js/scripts.js", defer)
  //- script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDL6iA0q9zeLy5gYlNT_ACJTNH-GdVZ7kQ&callback=initMap", defer)