
extends header.pug
block content
  a(href="#", id="test", class="btn-floating btn-large waves-effect waves-light red") test
  a(href="#", id="test", class="waves-effect btn") test
  legend test
  h1 Padding test
  .container
    .background